* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #020617, #0f766e);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.game-container {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
    padding: 35px;
    border-radius: 22px;
    width: 330px;
    text-align: center;
    box-shadow: 0 0 40px rgba(0,0,0,0.7);
}

h1 {
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#status {
    margin-bottom: 20px;
    font-size: 18px;
    color: #a5f3fc;
}

/* BOARD */
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin-bottom: 25px;
}

.cell {
    width: 85px;
    height: 85px;
    background: rgba(0,0,0,0.55);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    cursor: pointer;
    transition: 0.3s;
}

.cell:hover {
    background: rgba(255,255,255,0.2);
}

.cell.X {
    color: #22d3ee;
    text-shadow: 0 0 15px #22d3ee;
}

.cell.O {
    color: #f472b6;
    text-shadow: 0 0 15px #f472b6;
}

.cell.win {
    background: #4ade80 !important;
    color: #000;
    box-shadow: 0 0 20px #4ade80;
}

/* BUTTON */
.restart-btn {
    padding: 12px 28px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #22d3ee, #14b8a6);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.restart-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #22d3ee;
}
